.page-wrapper {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
    display:grid;
    grid-template-areas: 
        'projects-top projects-top'
        'navigation navigation'
        'projects-bottom projects-bottom';
    place-items: center;
    gap: 5vh;
    width: var(--content-width);
    margin: 0 10vw;
}

.project-links {
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 1.25vmax;
    width: 100%;
}

    .project-link {
        display: block;
    }
    
    .project-link image {
        filter: grayscale(100%);
        transition: all 0.5 ease;
    }

    .project-link svg.project-frame {
        width: 100%;
        height: auto;
        display: block;
        transition: all 0.2s ease;
    }

.frame-overlay {
    fill: var(--dark);
    mix-blend-mode: color;
    opacity: 1;
    transition: opacity 0.3s ease;
}

    .project-link:hover .frame-overlay {
        opacity: 0;
    }

    .project-link:hover image {
        filter:grayscale(0);
    }

.top-row {
    grid-area: projects-top;
}

.main-navigation {
    grid-area: navigation;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width:100%;
}

    .nav {
        display:grid;
        align-items: center;
        justify-items: center;
        /* row-gap: clamp(1rem, 6vmax, 8rem); */
        row-gap: 5.5vmax;
        translate: 0 .5vmax;
    }

        .logo svg {
            width:100%;
            overflow: visible;
        }

        .theme-selector {
            display: grid;
            grid-auto-flow: column;
            /* margin: min(1.5rem, 2vw) 0; */
            margin: 0;
        }

            .theme-btn {
                width: clamp(1rem, 1.25vmax, 3rem);
                height: clamp(1rem, 1.25vmax, 3rem);
            }
    
        .nav-links a {
            color: var(--dark);
            font-weight: 600;
            font-size: clamp(1.25rem, 1.75vw, 5rem);
            letter-spacing: -5%;
            padding: 0 1vw;
            opacity: 0;
            animation-delay: 0.5;
	        animation: fadeIn .5s ease-in forwards;
        }

        @keyframes fadeIn {
            0% {
                translate: 0% 75%;
                opacity: 0;
            }
            100% {
                translate: 0% 150%;
                opacity: 1;
        }
    }

        .nav-links a:hover {
            color: var(--med);
        }

        .l-rects rect {
            transform-box: fill-box;
            transform-origin: right center;
            transform: scaleX(0);
            animation: drawStripe 1s ease-in forwards;
        }

        .r-rects rect {
            transform-box: fill-box;
            transform-origin: left center;
            transform: scaleX(0);
            animation: drawStripe 1s ease-in forwards;
        }

        @keyframes drawStripe {
        to {
            transform: scaleX(100);
        }
        }

.bottom-row {
    grid-area: projects-bottom;
}

/* SVG Logo Attributes */
.st0 {
	fill: var(--light);
}

.st1 {
	fill: none;
}

.st2 {
	fill: var(--dark);
}

.st3 {
	fill: var(--med);
}

/* SVG Stripe Attributes */
.str1 {
	fill: var(--light);
}

.str2 {
	fill: var(--dark);
}

.str3 {
	fill: var(--med);
}

@media only screen and (max-width:500px) {
    
    .project-links {
        display:grid;
        grid-template-rows: auto auto;
    }

    .nav {
        translate: 0 2vmax;        
    }

        .nav-links {
            display:grid;
            grid-auto-flow: row;
            place-items: center;
        }
}