.page-wrapper {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    
    /* If I don't rotate the whole fucking page slightly, the stripes won't extend properly. No, this doesn't make sense, and I should fix this, but I can't be fucked right now. */
    transform: rotate(.015deg);
}

.content {
    display:grid;
    grid-template-areas: 
        'projects-top projects-top'
        'navigation navigation'
        'projects-bottom projects-bottom';
    place-items: center;
    gap: 5vh;
    width: 80vmin;
    margin: 0 10vw;
}

/*
=====================
PROJECT FRAMES
=====================
*/

/* Frames are in top and bottom grids within the main grid */
.project-links {
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 1.5vmax;
    width: 105%;
}

    .project-link {
        display: block;
    }

    .project-link svg.project-frame {
        width: 100%;
        height: auto;
        display: block;
        transition: all 0.3s ease;
    }

/* Thumbnail image is a grayscale halftone version, blended using the current theme's light color variable */

.frame-overlay {
    fill: var(--med);
    mix-blend-mode: lighten;
    opacity: 1;
    transition: opacity 0.3s ease;
}

    .project-link:hover .frame-overlay {
        opacity: 0;
    }

/* Image is swapped to a non halftone, full-color version on hover */

.img-default,
.img-hover {
    transition: opacity 0.3s ease;
}

.img-hover {
    opacity: 0;
}

    .project-link:hover .img-hover {
        opacity: 1;
    }


.top-row {
    grid-area: projects-top;
    opacity:0;
    animation: fadeInTop .5s ease .75s forwards;

}

.bottom-row {
    grid-area: projects-bottom;
    opacity:0;
    animation: fadeInProjects .5s ease .75s forwards;
}

.main-navigation {
    grid-area: navigation;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 80vmin;
}

    .nav {
        display:grid;
        align-items: center;
        justify-items: center;
        /* row-gap: clamp(1rem, 6vmax, 8rem); */
        gap: 7.5vmin;
        translate: 0 0.75vmin;
    }

        .logo svg {
            width:100%;
            overflow: visible;
        }

        .theme-selector {
            display: grid;
            grid-auto-flow: column;
            /* margin: min(1.5rem, 2vw) 0; */
            margin: 0;
        }

            .theme-btn {
                width: clamp(1rem, 1.25vmax, 3rem);
                height: clamp(1rem, 1.25vmax, 3rem);
            }
    

        /* Main navigation animations: fade in and move into place */
        .nav-links {
            opacity: 0;
            animation: fadeInBottom .5s ease .5s forwards;
        }

        .theme-selector {
            opacity:0;
            animation: fadeInTop .5s ease .5s forwards;
        }

        @keyframes fadeInTop {
            0% {
                opacity: 0;
                translate: 0% 2vh;

            }
            100% {
                translate: 0% 0vh;
                opacity: 1;
            }
        }

        @keyframes fadeInBottom {
            0% {
                opacity: 0;
                translate: 0% -2vh;

            }
            100% {
                translate: 0% 0vh;
                opacity: 1;
            }
        }

        @keyframes fadeInProjects {
            0% {
                opacity: 0;
                translate: 0% -2vh;

            }
            100% {
                translate: 0% 0vh;
                opacity: 1;
            }
        }
        
        .nav-links a {
            color: var(--dark);
            font-weight: 600;
            font-size: clamp(1.25rem, 1.75vw, 5rem);
            letter-spacing: -5%;
            padding: 0 1vw;
        }

        .nav-links a:hover {
            color: var(--med);
        }

        .l-rects rect {
            transform-box: fill-box;
            transform-origin: right center;
            transform: scaleX(0);
            animation: drawStripe 1s ease-in forwards;
        }

        .r-rects rect {
            transform-box: fill-box;
            transform-origin: left center;
            transform: scaleX(0);
            animation: drawStripe 1s ease-in forwards;
        }

        @keyframes drawStripe {
        to {
            transform: scaleX(100);
        }
        }

/* SVG Logo Attributes */
.st0 {
	fill: var(--light);
}

.st1 {
	fill: none;
}

.st2 {
	fill: var(--dark);
}

.st3 {
	fill: var(--med);
}

/* SVG Stripe Attributes */
.str1 {
	fill: var(--light);
}

.str2 {
	fill: var(--dark);
}

.str3 {
	fill: var(--med);
}

@media only screen and (max-width:500px) {
    
    .main-navigation {
        grid-template-columns: 3fr auto;
        gap: 5vw;
    }


        .project-links {
            display:grid;
            grid-template-rows: auto auto;
        }

        .nav {
            translate: 0 3vmin;
            gap: 10vmin;
            /* justify-items: end;         */
        }

            .nav-links {
                display:grid;
                grid-auto-flow: row;
                place-items: center;
            }

                .nav-links a{
                    font-size: 1rem;
                }


}