.fw-photoreal {
    background-color: var(--med);
}

.hero {
    grid-template-columns: repeat(3,1fr);
    padding: 2vmax;
    place-items: center;
    gap: 1vmax;
}

    .hero img {
        width: 100%;
        height: auto;
    }

.wii {
    grid-auto-flow: column;
    gap: 1vmax;
}

.hitachi {
    grid-auto-flow: column;
    gap: 1vmax;
}

.beer {
    grid-auto-flow: column;
    gap: 1vmax;
}