.page-wrapper {
    display:flex;
    position: relative;
	justify-content: center;
    flex-direction: column;
}

.content {
	display: flex;
	/* width: 100vh; */
	width: var(--content-width);
	flex-direction: column;
	align-self: center;
	/* justify-content: center; */
}

.stripe {
	height: 3vh;
	width: 100%;
	background:
		linear-gradient( to bottom, var(--dark) 0%, var(--dark) 27.4%, var(--bg) 27.4%, var(--bg) 36.2%, var(--med) 36.2%, var(--med) 63.7%, var(--bg) 63.7%, var(--bg) 72.5%, var(--light) 72.5%, var(--light) 100% );
	transform-box: fill-box;
	transform-origin: center;
	transform: scaleX(0);
	animation: drawStripe 2s ease-in forwards;
}

@keyframes drawStripe {
	to {
		transform: scaleX(10);
	}
}

/*
=====================
HEADER / BANNER
=====================
*/

.header {
    width: var(--content-width);
    margin: 0 auto;
    position: relative;
}

/*
=====================
CONTENT: META GRID

Was 2 rows and 2 columns, but that made it
difficult to actually scale elements on mobile.
This divided top row and bottom row allows the 
job date to be independent of the programs grid 
width and makes life not miserable.
=====================
*/

.metadata {
	display:grid;
	grid-auto-flow: column;
	grid-auto-columns: 2fr 1fr;
	margin: 1.25vmax 0 1vmax 0;
	align-items: center;
}

	.meta-label {
		font-size: clamp(1rem, 1.5vmax, 3rem);
		font-weight: 400;
		text-transform: uppercase;
	}

	.date {
		text-align:end;
	}

.metainfo {
	display:grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr min-content;
	gap: 1.5vmax;
}

	.image-row {
		margin: 2% 0;
		display:grid;
		grid-auto-flow: column;
		grid-auto-columns: auto;
		gap: 2%;
	}

		.image-row img {
			width:100%;
			height:100%;
			object-fit: cover;
			border-radius: .75rem;
			transition: var(--image-scale-anim);
		}

		/* .image-row img:hover {
			transform: scale(3);
			filter: var(--drop-shadow);
		} */

.programs {
    display: grid;
    padding: clamp(.55rem, .70vmax, 1.5rem);
    gap: min(1rem, .75vmax);
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content;
    justify-content: end;
    align-items: center;
    align-content: start;
    border: clamp(.35rem, .35vmax, .95rem) var(--dark) solid;
    border-radius: 2vh;
    height: fit-content;
}

	.programs svg {
		display: block;
		justify-self: center;
		align-self: center;
		width: 6vh;
		height: 7vh;
		transition: var(--image-scale-anim);
	}

		.programs svg:hover {
			transform: scale(1.1);
		}

/*
=====================
CONTENT: SECTIONS
=====================
Remember: sections have 2% margin on top and bottom, so don't add margins on the top or bottom titles/paragraphs
*/

.section {
	margin: 1.5vmax 0;
}

.section-image-grid {
	display:grid;
	margin: 2% 0;
    border: clamp(.25rem, .5vmax, .95rem) var(--dark) solid;
    border-radius: min(2.5rem,1.75vmax);
    padding: 2%;
}

	.section-image-grid img {
		width:100%;
		height:auto;
		border-radius: .5rem;
		transition: var(--image-scale-anim);
	}

/*
=====================
ODDFELLOWS X SONIC
=====================
*/

.genesis-bg-wrapper {
    background-color: #222;

    /* Grid */
    background-image: 
        linear-gradient(to right, #444 3%, transparent 3%),
        linear-gradient(to bottom, #444 3%, transparent 3%);
    background-size: 60px 60px;
    padding: 0.5%;
    
    /* Animation */
    animation: moveGridTopLeft 1s linear infinite;
}

@keyframes moveGridTopLeft {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px -60px;
    }
}

#oddfellows-sonic-banner-grid {
    --banner-height: 15rem;
    display: grid;
    grid-template-areas: 'tubs logo insert';
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 1vh;
    height: 100%;
}

#oddfellows-sonic-logo {
    height: auto;
    width: 100%;
    object-fit: contain;
    transition: var(--image-scale-anim);
}

	/* #oddfellows-sonic-logo:hover {
		transform: scale(1.25);
		z-index: 10;
	} */

#oddfellows-sonic-insert {
    height: auto;
    width: 60%;
    object-fit: contain;
    transition: var(--image-scale-anim);
}

	/* #oddfellows-sonic-insert:hover {
		transform: scale(1.25);
		z-index: 10;
	} */

#oddfellows-sonic-tub-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 1vh;
    justify-self: center;
    width: 80%;
}

	#oddfellows-sonic-tub-grid img {
		width: 100%;
		object-fit: contain;
		transition: var(--image-scale-anim);
	}

		/* #oddfellows-sonic-tub-grid img:hover {
			transform: scale(1.25);
			z-index: 10;
		} */



#oddfellows-sonic-packaging-grid {
	display:grid;
	grid-auto-flow: column;
	grid-template-rows: auto auto;
	gap: 1vw;
	place-items: center;
}

	#oddfellows-sonic-packaging-grid img {
		object-fit: contain;
	}

#oddfellows-sonic-packaging-tooltip {
	 grid-area:tooltip;
}

	#oddfellows-sonic-comparison-wrapper p {
		display:grid;
		text-align: center;
		justify-self: center;
		align-self:center;
		color:white;
		text-transform:uppercase;
		font-weight: 600;
		font-size:clamp(1rem, 1.25vmax, 4rem);
		padding:1vh;
	}

#oddfellows-sonic-comparison-grid {
	display: grid;
	grid-auto-flow: unset;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: 1fr 1fr;
	place-items: center;
	row-gap: 2vmax;
	margin: 1% auto;
	width: var(--content-width);
}

	#oddfellows-sonic-comparison-grid img {
		width:auto;
		height:clamp(2rem, 4.25vmax, 15rem);
		border-radius:0%;
		transition: var(--image-scale-anim);
	}

#oddfellows-sonic-merchandise-grid {
	grid-auto-flow: column;
	place-items: center;
	gap: 1vmax;
}

	#oddfellows-sonic-merchandise-grid img {
		width: 100%;
		height: auto;
	}

/*
=====================
RESPONSIVE ELEMENTS
=====================
*/

/* Predominantly meant for smart devices */

@media only screen and (max-width:850px) {
	
	.programs {
		grid-template-columns: auto;
		width:fit-content;
		justify-self: end;
	}

		.programs svg {
			width: 5vmax;
			height: 6vmax;
		}

	#oddfellows-sonic-merchandise-grid {
		grid-template-rows: auto auto;
	}

		#oddfellows-sonic-merchandise-grid img {
			margin: auto;
		}

	#oddfellows-sonic-packaging-grid {
		grid-auto-flow: row;
		grid-auto-rows: auto;
		row-gap: 1vh;
	}

	#oddfellows-sonic-comparison-grid {
		width:100%;
	}

	.image-row {
		grid-template-rows: 1fr 1fr;
	}
	
	.content, #oddfellows-sonic-banner-grid {
		width: var(--content-width-mobile);
	}

	#oddfellows-sonic-merchandise-grid {
	grid-template-columns: repeat(2, auto);
	place-items: center;
	row-gap: 5vmax;
	padding: 2vmax;
	}

	#oddfellows-sonic-merchandise-grid img {
		width: auto;
		height: clamp(8rem, 5vmin, 10rem);
	}

}

