/*
=====================
WENDIY
=====================
*/

.fw-wendiy {
    background-color: #50abd8;
}

.hero {
    grid-template-columns: 1fr;
    padding: 2vmax;
    place-items: center;
}

    .hero img {
        width: 80%;
        height: auto;
    }

.photography {
	display: flex;
    flex: 0 1 auto;
    gap: .75vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    .photography img {
        height: 17vh;
        width: auto;
    }

.logo-dev {
    grid-template-columns: auto auto;
    place-items: center;
    gap: 1vmax;
}

#early-logo-1 {
    filter: drop-shadow(5px 5px 10px hsla(0, 0%, 0%, 0.315));
}

.final-logo {
    padding: 3vmax;    
}

.prices, .checkout, .biz {
    grid-auto-flow: column;
    gap: 1vh;
    padding: 1vh;
    place-items:center;
}